@model MyApiNight4.WebUI.Dtos.CreateFeatureDto


@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Öne Çıkarılacak Kitap Ekle</h4>


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br /><br />
        <label>Kitap Adı</label>
        <input type="text" asp-for="FeatureBookName" class="form-control" />
        <br />

        <label>Kitap Açıklama</label>
        <textarea asp-for="FeatureDescription" class="form-control" rows="5"></textarea>
        <br />

        <label>Resim</label>
        <input type="text" asp-for="FeatureImageUrl" class="form-control" />
        <br />

        <button class="btn btn-primary">Ekle</button>
    </div>
</form>
