@model List<MyApiNight4.WebUI.Dtos.ResultAuthorDto>


<section id="special-offer" class="bookshelf pb-5 mb-5">
    @* YAZARLAR *@

    <div class="section-header align-center">
        <div class="title">
            <span></span>
        </div>
        <h2 class="section-title">Yazarlar</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="product-list" data-aos="fade-up">
                    <div class="grid product-grid">

                        @foreach (var item in Model)
                        {
                            <div class="product-item">
                                <img src="@item.AuthorImageUrl" style="width:200px; height:200px; border-radius:50%; border:3px; :#BB00FF" alt="Authors" class="product-item">

                                <figcaption>
                                    <h3>@item.AuthorName @item.AuthorSurname</h3>
                                </figcaption>

                            </div>
                        }
                    </div><!--grid-->
                </div>
            </div><!--inner-content-->
        </div>
    </div>
</section>
